.App {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item{
  flex:1  
}
img{
    width: 300px;
    height: 300px;
    object-fit:cover;
    background-color:black;
    border-radius: 7px;
}
.name-barcode {
    
}
.barcode{
    margin-left: 5px;
    font-size: small;
}
.price{
    display: flex;
    flex-direction: column;
}